JWT_SECRET=dsadsadksmc

GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=change_me

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=mydb
POSTGRES_PORT=5432

SESSION_SECRET=change_me

PUBLIC_URL=http://localhost